<table mat-table [dataSource]="encodings" class="mat-elevation-z8">
    <ng-container matColumnDef="encoding">
        <th mat-header-cell *matHeaderCellDef> Encoding ID </th>
        <td mat-cell *matCellDef="let element"> 
            <a routerLink="/wdp-app/encoding/{{element.encoding}}/v2_lstm_v4"> {{element.encoding}} </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year </th>
        <td mat-cell *matCellDef="let element">{{element.YEAR}}</td>
    </ng-container>
    <ng-container matColumnDef="lvl">
        <th mat-header-cell *matHeaderCellDef> Activity Level </th>
        <td mat-cell *matCellDef="let element"> {{element.activity_lvl}} </td>
    </ng-container>
    <ng-container matColumnDef="behavior">
        <th mat-header-cell *matHeaderCellDef> Behavior </th>
        <td mat-cell *matCellDef="let element"> {{element.behavior}} </td>
    </ng-container>
    <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> Stenella Key </th>
        <td mat-cell *matCellDef="let element"> {{element.stenella_key}} </td>
    </ng-container>
    <ng-container matColumnDef="spot_id">
        <th mat-header-cell *matHeaderCellDef> Spot ID </th>
        <td mat-cell *matCellDef="let element"> {{element.spot_id}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>