<table border='1'>
    <tr bgcolor='lightgray'>
        <td> Encoding ID </td>
        <td> Year </td>
        <td> Activity Level </td>
        <td> Behavior </td>
        <td> Stenella Key </td>
        <td> Spot ID </td>
    </tr>
    <tr *ngFor="let encoding of encodings">
        <td>{{encoding.encoding}}</td>
        <td>{{encoding.year}}</td>
        <td>{{encoding.acivity_lvl}}</td>
        <td>{{encoding.behavior}}</td>
        <td>{{encoding.stenella_key}}</td>
        <td>{{encoding.spot_id}}</td>
    </tr>
</table>