<table border='1'>
    <tr>
        <th> Encoding ID </th>
        <th> Year </th>
        <th> Activity Level </th>
        <th> Behavior </th>
        <th> Stenella Key </th>
        <th> Spot ID </th>        
    </tr>
    <tr *ngFor="let encoding of encodings">
        <td><a href="https://wdp-ds.appspot.com/wdp/wav/{{encoding.encoding}}">{{encoding.encoding}}</a></td>
        <td>{{encoding.YEAR}}</td>
        <td>{{encoding.activity_lvl}}</td>
        <td>{{encoding.behavior}}</td>
        <td>{{encoding.stenella_key}}</td>
        <td>{{encoding.spot_id}}</td>
    </tr>
</table>