table {
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: 5px;
    padding-right: 20px;
}
tr { 
    border: solid;
    border-width: 1px 0;
    padding: 10px;
    margin: 5px;
}
