<!doctype html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discovery</title>
    <style>
      .spec {
	  display: none;
      }      
    </style>
    <script src="/spectrogram.js"> </script>
    <script>
      let urls = [];
      {%for i in range(0, n)%}
      {% if files[i][1] == 'done' %}    
      const url_{{files[i][0]}} = "{{ url_for("alignment_seq", file_id=files[i][0]) }}";
      urls.push(url_{{files[i][0]}});
      {% endif %}    
      {%endfor%}

      window.addEventListener("load", function() {
	  const images = document.getElementsByClassName('spec')
	  const canvas = document.getElementById('alignments');  
	  Promise.all(urls.map(getData)).then((json_data) => {
	      var mapped_json = {};
	      for(let i = 0; i < json_data.length; i++) {
		  mapped_json[json_data[i].spec] = json_data[i].probs;
	      }
	      console.log(mapped_json);
	      spectrograms(images, canvas);
	  });
      });            
    </script>
</head>
<body>
  <h1> [:WDP:] Alignment Project {{project_id}} </h1>
<table>
    <tr>         
        <td>
          Relaxed: <form action='/alignment_project/{{project_id}}' method='post' enctype='multipart/form-data'>
            <input type="file" name="file"> 
            <input type='submit' value='Upload'/>
          </form> 
        </td> 
    </tr>
</table>
detection th: <input type='range' min="0" max="100" value="50" id="detection"/>
distance th:  <input type='range' min="0" max="100" value="50" id="distance"/>
<hr/>

{%for i in range(0, n)%}
{% if files[i][1] == 'done' %}    
   <img class="spec" id="{{files[i][0]}}"
        src="/web_service/{{version}}/images/{{files[i][0]}}_alignment.png"/>
{% else %}
   ... processing {{files[i][0]}}<br/>
{% endif %}    
{%endfor%}  

<canvas id="alignments" style="border:1px solid #000000;"/>
</body>
<html>
