<mat-toolbar color="accent">
    <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>
            <h1> {{encoding}}</h1>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" closed role="navigation">
        <mat-nav-list>
            <div *ngFor="let element of encodings">
                <mat-list-item>
                    <mat-icon matListIcon>folder</mat-icon>
                    <a
                        href="https://wdp-ds.appspot.com/wdp-app/encoding/{{element.encoding}}/{{cluster_name}}">{{element.encoding}}</a>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <canvas #drawing></canvas>
        <br />
        <button (click)="handleClick('play')"> Play</button>
        <button (click)="handleClick('pause')">Pause</button>
        <button (click)="handleClick('next')">&gt;&gt;&gt;</button>
    </mat-sidenav-content>


    <section class="timeline-scrollbox">
        <section class="annotations timeline" [style.transform]="translateOnScroll" [style.width.px]="waveformWidth">
            <div class="annotation" *ngFor="let annotation of manualAnnotations"
                [attr.data-timestamp]="annotation.percentTime" [ngStyle]="
              annotation.leftAlign
                ? { left: annotation.percentTime + '%' }
                : { right: 100 - annotation.percentTime + '%' }
            ">
                <div class="triangle-icon" [ngClass]="annotation.leftAlign ? 'left-align' : 'right-align'"></div>
                <button class="annotation-content" (click)="selectAnnotation(annotation.percentTime)">
                    {{ annotation.description }}
                    <span class="annotation-cta">Start playback here</span>
                </button>
            </div>
        </section>
        <section class="clusters timeline card-bg" *ngFor="let timeline of timelines">
            <h2>
                {{ 'Learning algorithm: ' + timeline.name }}
            </h2>
            <div class="timeline-container" [style.transform]="translateOnScroll" [style.width.px]="waveformWidth">
                <button *ngFor="let region of timeline.regions" class="cluster" [tooltip]="region.label"
                    [style.width.%]="region.percentWidth" [style.left.%]="region.percentStart"
                    [style.background]="region.color" [attr.data-start]="region.start" [attr.data-end]="region.end"
                    (click)="selectCluster(region.start, region.end, region.color)">
                    {{ region.label }}
                </button>
                <div class="background-container" [style.background-size.%]="(1 / audioLength) * 50"></div>
            </div>
        </section>
    </section>

</mat-sidenav-container>