<mat-toolbar color="accent">
    <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>
            <h1> {{encoding}}</h1>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" closed role="navigation">
        <mat-nav-list>
            <div *ngFor="let element of encodings">
                <mat-list-item>
                    <mat-icon matListIcon>folder</mat-icon>
                    <a href="https://wdp-ds.appspot.com/wdp-app/encoding/{{element.encoding}}/{{cluster_name}}">{{element.encoding}}</a>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <canvas #drawing></canvas>
        <br />
        <button (click)="handleClick('play')"> Play</button>
        <button (click)="handleClick('pause')">Pause</button>
        <button (click)="handleClick('next')">&gt;&gt;&gt;</button>
    </mat-sidenav-content>
</mat-sidenav-container>